<h1><%= @cocktail.name %></h1>

<h3>Ingredients:</h3>
<% @cocktail.doses.each do |dose| %>
      <ul>
        <li><%= dose.description %> <%= dose.ingredient.name %></li>
        <%= link_to "Delete?", dose_path(dose), method: :delete%>
      </ul>
  <% end %>


<%= simple_form_for [@cocktail, @dose] do |f| %>

  <% if @dose.errors.any? %>
    <% @dose.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.association :ingredient, collection: Ingredient.order("name ASC") %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>

<%= link_to "Home", root_path %>
